/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

/* REFERÊNCIAS PARA MEDIA QUERIES */
/*
Mobile maior -- max-width: 600px
Tablet retrato -- min-width: 601px
Tablet paisagem e Desktop -- min-width: 900px
*/

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GENERAL STYLING */
html {
	height: 100%;
	width: 100%;
	font-size: 15.5px;
	background-color: #f9fbeb;
}

body {
	height: 100%;
	width: 100%;
	background-color: #f9fbeb;
	font-family: "Work Sans", sans-serif;
	color: #20211b;
}

input,
button {
	font-family: "Work Sans", sans-serif;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 0;
	padding: 1rem 1.5rem;
	background: #d5e675;
	box-shadow: 0px 4px 4px rgba(12, 12, 12, 0.15);
}

.btn-about {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	font-size: 1.2rem;
	font-weight: 500;
}

.btn-about:hover {
	color: #3d9d25;
}

/* MODAL */

.modal {
	width: 70vw;
	height: auto;
	outline: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	padding: 1rem;
	margin: 6rem auto;
	background-color: #e4efa6;
}

.btn-close {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
}

.img-close {
	width: 1.8rem;
	height: auto;
	background-color: #d5ed50;
}

/* CATEGORIES BAR */

.category-title {
	margin-top: 3rem;
	margin-left: 1.2rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: 500;
}
.category {
	background-color: lightcoral;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
}

.img-product-category {
	background-color: pink;
	margin-top: 0.5rem;
	border-radius: 0.3rem;
	width: 5rem;
	height: auto;
	flex-grow: 1;
}

.product-category {
	background-color: powderblue;
	font-size: 1rem;
	font-weight: 500;
}

.category-info {
	width: 10rem;
	background-color: palegreen;
	text-align: center;
}

/* FOOTER */
.footer {
	width: 100vw;
	position: fixed;
	bottom: 0;
	padding: 0.4rem;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.8rem;
	background-color: #edf4c4;
}

.link-footer {
	color: #20211b;
	font-size: 0.8rem;
	text-decoration: none;
}

.link-footer:hover {
	color: #68ab03;
}
