/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

/* REFERÊNCIAS PARA MEDIA QUERIES */
/*
Mobile maior -- max-width: 600px
Tablet retrato -- min-width: 601px
Tablet paisagem e Desktop -- min-width: 900px
*/

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GENERAL STYLING */
html {
	height: 100%;
	width: 100%;
	font-size: 15.5px;
	background-color: #f9fbeb;
}

body {
	height: 100%;
	width: 100%;
	background-color: #f9fbeb;
	font-family: "Work Sans", sans-serif;
	color: #20211b;
}

input,
button {
	font-family: "Work Sans", sans-serif;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 0;
	padding: 1rem 1.5rem;
	background: #d5e675;
}

.btn-about {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
}

.btn-about:hover {
	color: #3d9d25;
	font-weight: 700;
}

/* FOOTER */
.footer {
	width: 100vw;
	position: fixed;
	background-color: #d5e675;
	bottom: 0;
	padding: 0.4rem;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.8rem;
}

.link-footer {
	color: #20211b;
	font-size: 0.8rem;
	text-decoration: none;
}

.link-footer:hover {
	border-bottom: solid 2px #000;
}
