/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

/* REFERÊNCIAS PARA MEDIA QUERIES */
/*
Mobile maior -- max-width: 600px
Tablet retrato -- min-width: 601px
Tablet paisagem e Desktop -- min-width: 900px
*/

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GENERAL STYLING */
html {
	height: 100%;
	width: 100%;
	font-size: 15.5px;
	background-color: #f9fbeb;
}

body {
	height: 100%;
	width: 100%;
	background-color: #f9fbeb;
	font-family: "Work Sans", sans-serif;
	color: #20211b;
}

input,
button {
	font-family: "Work Sans", sans-serif;
}

a {
	text-decoration: none;
	color: #20211b;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 0;
	padding: 1rem 1.5rem;
	background: #d5e675;
	box-shadow: 0px 4px 4px rgba(12, 12, 12, 0.15);
}

.btn-about {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	font-size: 1.2rem;
	font-weight: 500;
}

.btn-about:hover {
	color: #3d9d25;
}

/* MODAL */

.modal {
	width: 70vw;
	height: auto;
	outline: none;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 1rem;
	margin: 6rem auto;
	background-color: #e4efa6;
}

.btn-container {
	display: flex;
	justify-content: flex-end;
}

.btn-close {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
}

.img-close {
	width: 1.8rem;
	height: auto;
}

.img-close:hover {
	background-color: #d5ed50;
}

/* CATEGORIES BAR */

.category-title {
	margin-top: 2.2rem;
	margin-left: 1.2rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: 500;
}
.category {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	align-items: center;
}

.img-product-category {
	margin-top: 0.5rem;
	border-radius: 0.3rem;
	width: 3rem;
	height: auto;
	flex-grow: 1;
}

.product-category {
	font-size: 0.8rem;
	font-weight: 500;
	margin-top: 0.3rem;
}

.category-info {
	width: 5rem;
	text-align: center;
}

/* PRODUCT CARD */

.product-card {
	width: 92vw;
	height: auto;
	background-color: #e1ed9c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	margin: 1.5rem auto;
	cursor: pointer;
}

.img-product-card {
	border-radius: 10px 10px 0 0;
	flex-grow: 1;
}

.text-product-card {
	text-align: center;
	padding-top: 0.4rem;
	padding-bottom: 0.7rem;
	font-size: 1rem;
	font-weight: 500;
	margin-top: 0.3rem;
}

/* PRODUCT INFO */

.container-text {
	display: flex;
	text-align: center;
}

.text-product {
	margin: 0 auto;
	font-size: 1.1rem;
	font-weight: 600;
}

.img-product {
	display: flex;
	justify-content: center;
	width: 70vw;
	height: auto;
	margin: 1.2rem auto;
}

.icon {
	margin-top: 1rem;
	margin-left: 0.5rem;
	color: #20211b;
	font-size: 1.5rem;
}

.product-titles {
	margin: 1rem;
	font-size: 1.1rem;
	font-weight: 600;
}

.about-product {
	width: 90vw;
	margin: 0 1rem;
	justify-items: center;
	padding-bottom: 0.7rem;
}

.carousel-container {
	width: auto;
	height: 8rem;
	background-color: #467302;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	align-items: center;
}

.carousel {
	font-size: 1rem;
	font-weight: 500;
	padding: 1rem;
	color: #dce3af;
}

.splide__arrow svg {
	fill: #515538 !important;
}

/* VIDEO */

.video {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 90vw;
	height: auto;
	padding-bottom: 1.5rem;
}

/* FOOTER */

.footer {
	width: 100vw;
	bottom: 0;
	padding: 0.4rem;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.8rem;
	background-color: #edf4c4;
}

.link-footer {
	color: #20211b;
	font-weight: 600;
	font-size: 0.8rem;
	text-decoration: none;
}

.link-footer:hover {
	color: #68ab03;
}
